.donate {
    color: white;
    clear: left;
    float: left;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
    margin-left: 45%;
    text-align: center;
    background-color: #333;
    box-shadow: 2px 2px grey;
  }
  .confirm {
    float: left;
    margin-top: 18px;
    margin-left: 10px;
    width: 20%;
  }