.bar {
    min-width: 500px;
    border: 1px solid darkblue;
    padding: 5px;
   margin-left: -2.5%;
  width: 103.15%;
  
   height: 20px;
   background-color: #4f5b66;
  position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0px;
  right: 0;
  left: 0;
  z-index: 999;
  
}

.innerText {
    color: white;
    margin-left: 6%;
    position: relative;
}
.spacer {
    margin-left: 10px;
}

.greenText {
    color: limegreen;
}
.howToPlay {
    margin-left: 25%;
}
.howToPlay:hover {
    color: red;
}